body {
  background-color: #f4d3a1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgba(85, 60, 42, 0.9);
  width: 220px;
  height: 460px;
  text-align: center;
  border-radius: 15px;
  padding: 20px;
}

.timer {
  background-color: #eee;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#time-display {
  font-size: 2.5rem;
  color: #318c9d;
}

#status {
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.controls {
  margin-bottom: 15px;
}

.time-setting {
  margin-bottom: 10px;
}

.control-btn {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#start-pause {
  background-color: green;
  color: white;
  padding: 5px 20px;
}

#reset {
  background-color: black;
  color: white;
  padding: 5px 20px;
}

button:disabled {
  background-color: gray;
  cursor: not-allowed;
}
